@import 'application/theme'

.viewer
  .items
    float left

    padding 2%
    margin 1%
    border 1px solid primary-color
    width 62%

    .item
      display inline-block
      float left

      &.selected
        border 1px solid black

  .list
    float left
    width 25%